<video autoplay loop id="bg-video">
    <source src="../../public/resources/video/bg.mp4" type="video/mp4">
</video>

<div class="centered-container border-primary border-radius mt-50 register-window">
    <h1 class="text-primary text-centered">Register to SLN</h1>
    <div class="w-50 mx-auto">
        <form action="register.php?action=register" method="post">
            <div class="form-row mt-25">
                <label for="mail" class="text-primary">Email Address : </label>
                <br/>
                <input type="text" id="mail" name="mail" placeholder="Email address"/>
            </div>
            <div class="form-row mt-25">
                <label for="pass" class="text-primary">Password : </label>
                <br/>
                <input type="password" id="pass" name="pass" placeholder="Password"/>
            </div>
            <div class="form-row mt-25">
                <label for="passconf" class="text-primary">Confirm password : </label>
                <br/>
                <input type="password" id="passconf" name="passconf" placeholder="Password"/>
            </div>
            <input type="checkbox" name="conditions" id="conditions" class="mt-25">
            <label for="conditions" class="text-primary text-small mt-25">I have read, understood and accept <a href="../../view/legal/terms-and-conditionsView.html">the terms and conditions <sup><i class="fas fa-info-circle"></i></sup></a></label>
            <button type="submit" class="btn-primary my-25 w-100">Register</button>
        </form>
    </div>
</div>