<div class="register-page">
    <video autoplay loop id="bg-video">
        <source src="../../public/resources/video/bg.mp4" type="video/mp4">
    </video>

    <div class="centered-container border-primary border-radius mt-10 register-window">
        <h1 class="text-primary text-centered">Register to SLN</h1>
        <div class="w-50 mx-auto">
            <form>
                <div class="form-row mt-25">
                    <label for="mail">Email Address : </label>
                    <br/>
                    <input type="text" id="mail" name="mail" placeholder="Email address"/>
                </div>
                <div class="form-row mt-25">
                    <label for="pass">Password : </label>
                    <br/>
                    <input type="password" id="pass" name="pass" placeholder="Password"/>
                </div>
                <div class="form-row mt-25">
                    <label for="passconf">Confirm password : </label>
                    <br/>
                    <input type="password" id="passconf" name="passconf" placeholder="Password"/>
                </div>
            </form>
        </div>
    </div>
</div>