<video autoplay loop id="bg-video">
    <source src="../../public/resources/video/bg.mp4" type="video/mp4">
</video>

<div class="centered-container border-primary border-radius mt-50 register-window">
    <h1 class="text-primary text-centered">Login to SLN</h1>
    <div class="w-50 mx-auto">
        <form>
            <div class="form-row mt-25">
                <label for="mail" class="text-primary">Email Address : </label>
                <br/>
                <input type="text" id="mail" name="mail" placeholder="Email address"/>
            </div>
            <div class="form-row mt-25">
                <label for="pass" class="text-primary">Password : </label>
                <br/>
                <input type="password" id="pass" name="pass" placeholder="Password"/>
            </div>
            <div class="w-100 inline-flex">
                <input type="checkbox" name="conditions" id="conditions" class="mt-25">
                <label for="conditions" class="text-primary text-small mt-25">Stay logged in</label>
                <a href="" class="text-secondary text-small align-right w-75">Forgot password ?</a>
            </div>
            <button type="submit" class="btn-primary my-25 w-100">Log in</button>
        </form>
    </div>
</div>