$primary-color: #FADF08;
$secondary-color: #FA7208;
$background-color: #000000;

body { background: $background-color; }

.text-primary { color: $primary-color; }
.text-secondary { color: $secondary-color; }
