<div class="large-container">
    <div class="featured-item">
        <h2 class="legend">Featured image :</h2>
        <img src="https://fakeimg.pl/250x300/" class="image">
        <h3 class="title">TITRE</h3>
    </div>
    <div class="inline-container">
        <div class="items-carrousel">
            <h2 class="legend">Tradings :</h2>
            <!-- foreach | TODO -->
            <div class="items-carrousel-images">
                <img src="https://fakeimg.pl/150x100/" class="image">
                <img src="https://fakeimg.pl/150x100/" class="image">
                <img src="https://fakeimg.pl/150x100/" class="image">
                <img src="https://fakeimg.pl/150x100/" class="image">
            </div>
            <div class="items-carrousel-titles">
                <h3 class="title">TITLE</h3>
                <h3 class="title">TITLE</h3>
                <h3 class="title">TITLE</h3>
                <h3 class="title">TITLE</h3>
            </div>
        </div>
    </div>
    <div class="inline-container">
        <div class="items-carrousel">
            <h2 class="legend">For you :</h2>
        </div>
    </div>
</div>