@charset "utf-8";
@import "navbar.css";

@font-face {
    font-family: "Glory Light";
    src: url("../../public/Glory-Light.ttf") format("truetype");
}

.background-primary { background-color: #FADF08; }
.background-secondary { background-color: #FA7208; }
.background-default { background-color: #000000; }
.background-gradient { background: linear-gradient(90deg, #FADF08, #FA7208); }

body {
    margin: 0;
    font-family: "Glory Light", sans-serif;
}

.large-container {
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

.inline-container {
    display: inline-flex;
    width: 100%;
}